extends layout

block content
  .container
    h1 snippets

    for snippet in snippets
      .snippet
        .title #{snippet.title}
        pre.code #{snippet.code}
    else
      a(href="/snippet/create") create one