extends layout

block content
  .container
    h1 create snippet
  
    form(action="/save", method="post")
      p
        label Snippet title
        input.span4(type='text', placeholder='snippet title', name='snippet-title', required)
      p
        label Code
        textarea.span6(name="snippet-code", required, rows=4)
      p
        button.btn.btn-primary(type='submit') Save
        a.btn(href="/snippet") Cancel